<!DOCTYPE html>

<html lang="nl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>arch.be location search</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script>

		var workerid = 0;

		function close_help() {
			console.log("close_help");
			document.getElementById("contexthelp").style.display = "None";
		}

		function toon_kaart() {
			console.log("getting map for worker id "+ workerid);
			$.ajax({
				url:"/get_map?workerid="+workerid,
				method:"GET",
				beforeSend:function()
				{
				$('#save').attr('disabled', 'disabled');
				$('#process').css('display', 'block');
				},
				success:function(data)
				{
				  console.log(data)
				  document.getElementById("kaart").innerHTML = data ;
				}
			})
		};


		 $(document).ready(function(){

		 	document.getElementById("zoek_regio").disabled = true;

			var helpbuttons = document.querySelectorAll('.help');
			console.log("helpbuttons :" + helpbuttons);

			for (var i = 0; i < helpbuttons.length; i++) {
				console.log(helpbuttons[i])
				helpbuttons[i].style.display = "inline-block";
				helpbuttons[i].addEventListener('click', function(event) {
					document.getElementById("contexthelp").style.display = "block";
					document.getElementById("contexthelp").style.left = "50px";
					document.getElementById("contexthelp").style.top = event.clientY + "px";
					document.getElementById("helpcontents").innerHTML = "\
					<H3>Wildcards</b></H3>\
					Gebruik bij (voor)namen eventueel <i>wildcards</i> (* of .) <br><br>\
					<li> '.' staat voor eender welk karakter\
					<li> '*' staat voor 1 of meerdere van eender welk karakter\
					<br>\
					<br>\
					<b>Voorbeeld</b><br>\
					<br>\
					<LI><I>Jo*anna</I> komt overeen met 'Johanna' en 'Joanna'<br>\
					<LI><I>Van.damme</I> komt overeen met 'Vandamme' en 'Van damme'<br>\
					<LI><I>H*gheb*rt</I> komt overeen met 'H<b>u</b>ygheb<b>ae</b>rt', 'H<b>eu</b>gheb<b>ae</b>rt', 'H<b>eu</b>gheb<b>aa</b>rt', ....\
					<br><br><b>Opmerking</b><br><br>\
					Je kan geen wildcards gebruiken indien je bij 'zoekwijze' kiest voor 'klinkt als' !\
					"
					;
				});
			}

		// Find all inputs on the DOM which are bound to a datalist via their list attribute.
		var inputs = document.querySelectorAll('input[list]');
		for (var i = 0; i < inputs.length; i++) {
			// When the value of the input changes...

			inputs[i].addEventListener('pointerdown', function() {
			  this.value = '';
			  if (this.id == 'aktegemeente') {
			  	document.getElementById("zoek_regio").disabled = true;
			  	}
			});

			inputs[i].addEventListener('change', function() {
				console.log("changed " + this.id);
				control = this;
				var optionFound = false;
				datalist = control.list;

				// Determine whether an option exists with the current value of the input.
				for (var j = 0; j < datalist.options.length; j++) {
					if (control.value == datalist.options[j].value) {
						optionFound = true;
						if (control.value != '') {
							document.getElementById("zoek_regio").disabled = false;
						}
						break;
					}
				}
				// use the setCustomValidity function of the Validation API
				// to provide an user feedback if the value does not exist in the datalist
				if (optionFound) {
					control.setCustomValidity('');
				} else {
				  console.log(this.id);
				  if (this.id == 'aktegemeente') {
				    this.value = '';
					document.getElementById("zoek_regio").disabled = true;
				  }
				  else {
				    this.value = datalist.options[0].value;
				  }
				}
			});
		}

		  document.getElementById("link_personen").className += " active";


		  var pollInterval;

		 $('#input_form').on('submit', function(event){
		   event.preventDefault();
			$.ajax({
		   url:"/zoek_regio",
		   method:"POST",
		   data:$(this).serialize(),
		   beforeSend:function()
		   {
			resultstable = document.getElementById("results").innerHTML = "";
			$('#save').attr('disabled', 'disabled');
			$('#process').css('display', 'block');
			document.getElementById("zoek_regio").disabled = true;
		   },
		   success:function(data)
		   {
				console.log("ready");
				console.log("data : " + data);
				pollInterval = setInterval(get_progress, 1000);
				workerid = data;
				toon_kaart();
		   }
		  })
		  });

		  function get_progress() {
			console.log("checking progress for worker id "+ workerid)
			  $.ajax({
		   url:"/get_progress?workerid="+workerid,
		   method:"GET",
		   beforeSend:function()
		   {
			$('#save').attr('disabled', 'disabled');
			$('#process').css('display', 'block');
		   },
		   success:function(data)
		   {
			  datalist = JSON.parse(data);
			  completion = datalist['progress']
			  results = datalist['results']
			  urls = datalist['urls']
			  console.log("get_progress for workerid " + workerid + "="+ completion)
			  resultstable = document.getElementById("results")
			  resultstable.innerHTML = "";
			  console.log(resultstable)
			  for (var i = 0; i < results.length; i++) {
				console.log(results[i]);
				console.log(urls[i]);
				var row = resultstable.insertRow(i);
				row.insertCell().innerHTML = results[i]
				var action = "window.open('"+ urls[i]+"')"
				row.setAttribute("onclick", action)
			  }

			  progress_bar_process(parseInt(completion));
			  if (parseInt(completion) == -1) {
				toon_kaart();
				console.log("search complete");
				document.getElementById("zoek_regio").disabled = false
			  }
		   }
		  })
		  };

		  function progress_bar_process(percentage)
		  {
			$('.progress-bar').css('width', percentage + '%');
			if(percentage == -1)
			{
			  $('#process').css('display', 'none');
			  $('.progress-bar').css('width', '0%');
			  $('#save').attr('disabled', false);
			  console.log("clear")
			  clearInterval(pollInterval);
			}
		  }

		 });

		   function update_range()
		  {
		  document.getElementById("range_km").value = document.getElementById("range_slider").value + " km";
		  };

			function openTab(evt, tabName) {
			  console.log(tabName);
			  var i, tabcontent, tablinks;
			  tabcontent = document.getElementsByClassName("tab_content");
			  for (i = 0; i < tabcontent.length; i++) {
				tabcontent[i].style.display = "none";
			  }
			  tablinks = document.getElementsByClassName("tab_links");
			  console.log(tablinks)
			  for (i = 0; i < tablinks.length; i++) {
				tablinks[i].className = tablinks[i].className.replace(" active", "");
				console.log("setting "+ tablinks[i].id)

			  }
			  document.getElementById(tabName).style.display = "block";
			  evt.currentTarget.className += " active";
			  console.log("clearing "+ evt.currentTarget.id)
			}

		function help(type) {
			console.log(this + 'type');
		};

		function search() {
			$.ajax({
		   url:"/zoek",
		   method:"POST",
		   data:$('#input_form').serialize(),
		   beforeSend:function()
		   {
		   	console.log('fubar')
		   },
		   success:function(data)
		   {
		   	console.log(data);
		   	window.open(data);
		   }
		  })
		};

		</script>


    </head>
    <body>

	<fieldset id="contexthelp" class="contexthelp center">
		<legend class="legend">Help</legend>
		<div id="closehelp" style="float:right"  onclick="close_help()"><u>Sluit</u></div>
		<br>
		<br>
		<div class="helpcontents" id="helpcontents">
		</div>

	</fieldset>

	<div class="tab">
	  <button class="tab_links shadow" id="link_personen" style="margin-left:20px;" onclick="openTab(event, 'tab_personen')">Personen</button>
		<!--
	  <button class="tab_links shadow" id="link_archieven" onclick="openTab(event, 'tab_archieven')">Archieven</button>
	  -->
	  <button class="tab_links shadow" id="link_links" onclick="openTab(event, 'tab_links')">Links</button>
	  <button class="tab_links shadow" id="link_help" onclick="openTab(event, 'tab_help')">Help</button>
	</div>

	<div id="tab_personen" class="tab_content">
			<form action="{{ url_for('zoek_regio') }}" method="post" id="input_form">
						<div class="personen">
							<datalist id="rollen">
							{% for id, rol in rollen %}
							<option value='{{rol}}'>{{rol}}</option>
							{% endfor %}
							</datalist>
							<fieldset class="fieldset pers1">
	  							<legend class="legend">Persoon 1</legend>
								<table >
									<tr><td><label>Naam </label></td><td><input name="pers1_achternaam"  size=30></input>
										<img class="help" name="naam" src="{{ url_for('static', filename='question.png') }}" height="15px" valign="center">
										</td></tr>
									<tr><td><label>Voornaam </label></td><td><input name="pers1_voornaam"  size=30></input>
										<img class="help" name="naam" src="{{ url_for('static', filename='question.png') }}" height="15px" valign="center">
										</td></tr>

									<tr>
										<td><label>Rol </label></td>
										<td>
											<input list="rollen" name="pers1_rol" id="pers1_rol"/>
										</td>
									</tr>
									<tr><td><label>Beroep </label></td><td><input name="pers1_beroep"  size=30></input></td></tr>
									<tr>
										<td><label>Geslacht </label></td>
										<td>
											<input type="checkbox" name="zw_m" id="zw_m" value="1" >M </input>
											<input type="checkbox" name="zw_v" id="zw_v" value="1" >V </input>
											<input type="checkbox" name="zw_o" id="zw_o" value="1">Niet vermeld</input>
										</td>
									</tr>
									<tr>
										<td><label>Zoekwijze </label></td>
										<td>
											<input type="radio" name="matchtype" id="mt_exact" value="Exact" checked="checked">Exact </input>
											<input type="radio" name="matchtype" id="mt_klinkt" value="Klinkt" >Klinkt als </input>
										</td>
									</tr>
								</table>
							</fieldset>

							<fieldset class="fieldset pers2">
	  							<legend class="legend">Persoon 2</legend>
								<table>
									<tr><td><label>Naam </label></td><td><input name="pers2_achternaam" size=30></input>
										<img class="help" name="naam" src="{{ url_for('static', filename='question.png') }}" height="15px" valign="center">
									</td></tr>
									<tr><td><label>Voornaam </label></td><td><input name="pers2_voornaam" size=30></input>
										<img class="help" name="naam" src="{{ url_for('static', filename='question.png') }}" height="15px" valign="center">
									</td></tr>
									<tr>
										<td><label>Rol </label></td>
										<td>
											<input list="rollen" name="pers2_rol" id="pers2_rol"/>
										</td>
									</tr>
								</table>
							</fieldset>
							</div>


							<fieldset class="fieldset zoekregio">
	  							<legend class="legend">Aktegemeente</legend>
									<table>
									<tr>
										<td><label>Aktegemeente </label></td>
										<td>
											<input list="aktegemeentes" name="aktegemeente" id="aktegemeente"/>
											<datalist id="aktegemeentes">
											{% for gemeente in gemeentes %}
											<option value='{{gemeente}}'>{{gemeente}}</option>
											{% endfor %}
											</datalist>
										</td>
										<td></td>
									</tr>
									<tr>
										<td><label>Radius</label></td>
										<td>
										<div class="range">
										 <output id="range_km">10 km</output> <input name="radius" style="width:100%;" id="range_slider" type="range" min="0" max="50" value="10" oninput="update_range()"></input>
										</div>
										</td>
									</tr>
									<tr>
										<td></td>
									</tr>
									<tr>
										<td><label>Periode</label></td>
										<td>
										<input  name="akteperiode" id="periode"></input>
											<!-- <img class="help" name="periode" src="{{ url_for('static', filename='question.png') }}" height="15px" valign="center"> -->
										</td>
									</tr>


									<tr><td><br></td></tr>
									<tr>
										<td>
											<button type="button" id="zoek"  name="zoek" value="Zoek" onclick="search()">Zoek</button>
											<input id="zoek_regio" type="submit" name="zoek_regio" value="Zoek in regio"></input>
										</td>
									</tr>

									</table>
								    <div class="progresscontainer">
									  <div class="progress-bar progress-bar-striped active bg-success" role="progressbar" aria-valuemin="0" aria-valuemax="100">
									</div>
								</div>
							</fieldset>

			</form>

			<fieldset class="fieldset resultscontainer">
				<legend class="legend">Resultaten</legend>

				<table id="results" class="resultstable">
				{% for gemeente,url in resultaten %}
				<tr onclick="window.open('{{url}}')";><td><A href="{{url}}"> {{gemeente}}</a></td></tr>
				{% endfor %}
				</table>
			</fieldset>

			<fieldset class="fieldset" id="fskaart">
			<legend class="legend">Kaart</legend>
				<div class="kaart" id="kaart" ></div>
			</fieldset>

	</div>
	<!--
	<div id="tab_archieven" class="tab_content shadow">
	</div>
	-->
	<div id="tab_help" class="tab_content shadow">
		nog even geduld !
	</div>

	<div id="tab_links" class="tab_content shadow">
		<br>
			<fieldset class="fieldset" id="fskaart">
			<legend class="legend">Diverse archieven en verenigingen</legend>
			<div width="600px">
				<a href="https://search.arch.be/">
					<div class="linkcontainer" >
						<img width="50px" src={{ url_for('static', filename='rablogo.jpg') }} >
						<div class="linktext">De zoekmachine van het Belgisch Rijksarchief</div>
					</div>
				</a>
				<a href="https://www.arch-poperinge.be">
					<div class="linkcontainer" >
						<img width="50px" src={{ url_for('static', filename='vpa.jpg') }} >
						<div class="linktext">Vrijwilligers Intergemeentelijk Archief Poperinge-Vleteren, met o.a. klappers en akten voor een aantal gemeenten in Frans-Vlaanderen</div>
					</div>
				</a>
				<a href="https://www.vrijwilligersrab.be">
					<div class="linkcontainer" >
						<img width="50px" src={{ url_for('static', filename='vrijwilligers_rab.jpg') }} >
						<div class="linktext">Database Akten West-Vlaanderen van de vrijwilligers van het RAB</div>
					</div>
				</a>
				<a href="https://www.vcgh.be/">
					<div class="linkcontainer" >
						<img width="50px" src={{ url_for('static', filename='vcgh.png') }} >
						<div class="linktext">Vlaams centrum voor Geneaologie en Heraldiek. o.a. reeks interessante publicaties waaronder de <b>plattelandse Woumen</b></div>
					</div>
				</a>
			</fieldset>
			<fieldset class="fieldset" id="fskaart">
			<legend class="legend">Tools</legend>
				<ul>
				<li><a href="https://arsfam.com/">Ars Familiae : links naar de gedigitaliseerde akten in het rijksarchief per gemeente, datum en type</a></li>
				<li><a href="https://www.facebook.com/groups/familiekunde">Facebook groep Familiekunde Vlaanderen</a>
				<li><a href="https://watstaatdaer.nl/"Nederlandse site met info en oefeningen m.b.t. paleografie, het lezen van oude geschriften</a>
				</li>
				</ul>
			</fieldset>
			</div>
	</div>

    </body>
</html>
